.their-profile {
  .profile_detail {
    h4 {
      border: 0px solid rgba(0, 0, 0, 0.15);
      margin: 0px;
      padding: 10px;
    }
    .self_skills {
      margin-bottom: 15px;
    }
  }
  .my_skills {
    span {
      margin: 3px 8px 3px 0;
      padding: 3px 10px 3px 12px;
      color: #000;
      background: #fff;
      border: 1px solid #ccc;
    }
  }
}
