<section class="container txtcontent">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4>Get to know us!</h4>
          <hr>
          <p>CareerJourney is a platform to support professionals navigating their complicated journey in their
            career with trusted professional connections and several technology tools.
          </p>
          <p>This platform is operated by Invest to Impact (ITOI) Network Foundation, a Non-Profit in the USA.</p>
          <p>Currently, CareerJourney is an invitation-only platform.</p>
          <p>For any queries, please contact <a href="mailto:ben@itoi.org" class="btn-link">ben@itoi.org</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>