<div class="alert-box">
      <div class="modal-header">
            <h4 class="modal-title">{{message || 'Confirm'}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="onCancel()">
                  <span aria-hidden="true">&times;</span>
            </button>
      </div>
      <div class="modal-body">
            {{title ||'Are you sure want to delete this?'}}
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onConfirm()">{{btnOk||'Yes'}}</button>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">{{btnCancel || 'No'}}</button>
      </div>
</div>