<section id="register_cont" class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card no-border">
        <div class="card-header text-center light-greenBg">
          <i class="fas fa-user-lock" style=" color: #fff; width: 50px; height: 50px; font-size: 22px; line-height: 50px; background-color: #53b454; border-radius:50%;"></i>
          <h3 class="card-title semi_bold">Forget Password </h3>
        </div>
        <div class="card-body" [formGroup]="forgotForm">
          <label>Email<sup class="text-danger">*</sup></label>
              <input formControlName="userName" class="form-control" (keypress)="handleKeyPress($event)" type="text" placeholder="Enter Your Email" name="">
              <span *ngIf="submitted && forgotForm.get('userName')?.errors?.required" for="userName" class="error">
                Email is required.
              </span>
              <span *ngIf="forgotForm.get('userName')?.errors?.pattern" for="userName" class="error">
                 Email should valid.
               </span>
              <span class="error"
              *ngIf="(forgotForm.get('userName').dirty || submitted) && forgotForm.get('userName')?.errors?.isEmailNotExist">
                    Email Not Exist</span>
              <span *ngIf="emailCheckingloader"> <i class="fa fa-refresh fa-spin"></i>Checking
                    Email.....</span>
              <div class="text-center">
                <hr />
                  <button type="button" (click)="submitForm()"
                        class="registerbtn btn btn-lg btn-dark-green bold text-uppercase btn-circle" style="width: 70%;">
                         Submit
                         <i *ngIf="loading" class="fas fa-spinner fa-spin"></i>
                  </button>
              </div>
          </div>
      </div>
    </div>
  </div>

</section>
<!-- Loader Start -->
<div *ngIf="loading">
  <div class="loader_content">
    <div class="loading">
        <p>Loading</p>
        <span></span>
    </div>
  </div>
</div>
<!-- Loader End -->
